.videos {
  width: 100%;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .videos {
    width: 90%;
    grid-template-columns: 1fr;
  }
}
